body a {
  display: inline; }

table {
  width: 100%;
  font-size: 13px;
  text-align: center; }

tr {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada; }

.cartBox {
  margin: 70px 30px; }
  .cartBox .cart-contents {
    height: 50px; }
    .cartBox .cart-contents .imgCatagory {
      width: 25%; }
    .cartBox .cart-contents .productCatagory {
      width: 50%; }
    .cartBox .cart-contents .priceCatagory {
      width: 15%; }
    .cartBox .cart-contents .prd-desc {
      width: 200px;
      margin: 10px auto;
      font-size: 12px; }
  .cartBox .payment {
    margin-top: 50px;
    text-align: right; }
  .cartBox .buyButton {
    width: 20%;
    padding: 10px 0px;
    margin: 0 auto;
    border: 2px solid #333;
    text-align: center;
    font-size: 12px;
    cursor: pointer; }
    .cartBox .buyButton:hover {
      color: #fff;
      background-color: #333; }
