.loginBox {
  display: inline-block;
  margin: 80px 0px;
}

.loginInput {
  width: 350px;
  float: left;
  border-right: 1px solid #e5e5e5;
}

.loginAlt {
  width: 300px;
  padding: 0px 20px;
  margin-top: -5px;
  float: right;
  text-align:left;
  font-size: 12px;
}

input{
  width: 280px;
  height: 30px;
  margin-bottom: 3px;
  letter-spacing: 2px;
}

input[type=submit] {
  height: 50px;
  background:#fff;
  margin-top: 35px;
  border: 2px solid #333;
}

.joinButton ,.lostIdButton{
  width: 90%;
  margin: 0px auto 20px auto;
  border: 1px solid #333;
  padding: 10px 0px;
  text-align: center;
}

.joinButton:hover, .lostIdButton:hover, input[type=submit]:hover{
  border: 1px solid #fff;
  background-color: #333;
  color: #fff;
}

.joinButton:hover a, .lostIdButton:hover a{
  color: #fff;
}
