input {
  width: 280px;
  height: 30px;
  margin-bottom: 3px;
  letter-spacing: 2px; }

input[type=submit] {
  height: 50px;
  margin-top: 35px;
  border: 2px solid #333;
  background: #fff; }
  input[type=submit]:hover {
    border: 1px solid #fff;
    background-color: #333;
    color: #fff; }

.loginBox {
  display: inline-block;
  margin: 80px 0px; }
  .loginBox .loginInput {
    float: left;
    width: 350px;
    border-right: 1px solid #e5e5e5; }

.loginAlt {
  float: right;
  width: 300px;
  margin-top: -5px;
  padding: 0px 20px;
  font-size: 12px;
  text-align: left; }
  .loginAlt .joinButton {
    width: 90%;
    margin: 0px auto 20px;
    padding: 10px 0;
    border: 1px solid #333;
    text-align: center; }
    .loginAlt .joinButton:hover {
      border: 1px solid #fff;
      background-color: #333;
      color: #fff; }
  .loginAlt .lostIdButton {
    width: 90%;
    margin: 0px auto 20px;
    padding: 10px 0;
    border: 1px solid #333;
    text-align: center; }
    .loginAlt .lostIdButton:hover {
      border: 1px solid #fff;
      background-color: #333;
      color: #fff; }
