a {
  text-decoration: none;
  color: #333; }

.mypage-content {
  display: inline-block;
  width: 100%; }
  .mypage-content .mypage-top {
    padding: 40px; }
    .mypage-content .mypage-top .close_btn {
      width: 60px; }
    .mypage-content .mypage-top .mypage-txt {
      float: right;
      font-size: 50px; }
  .mypage-content .tab-area {
    margin: 40px; }
    .mypage-content .tab-area input, .mypage-content .tab-area label {
      width: 33%;
      height: 60px; }
    .mypage-content .tab-area input {
      position: absolute;
      cursor: pointer;
      opacity: 0; }
    .mypage-content .tab-area label {
      display: inline-block;
      font-size: 40px;
      text-align: center; }
      .mypage-content .tab-area label span {
        padding-bottom: 10px; }
  .mypage-content .tab-content {
    border-top: 5px solid #333; }
    .mypage-content .tab-content section {
      display: none; }
      .mypage-content .tab-content section .content {
        margin: 100px 50px;
        font-size: 30px;
        /*tab1*/
        /*tab2*/ }
        .mypage-content .tab-content section .content .myInfoTit, .mypage-content .tab-content section .content .consultButton {
          width: 150px;
          padding: 12px 15px;
          border: 1px solid #333;
          text-align: center; }
        .mypage-content .tab-content section .content .myInfoList {
          width: 100%;
          margin: 40px 0 70px;
          text-align: center; }
          .mypage-content .tab-content section .content .myInfoList td {
            height: 60px; }
          .mypage-content .tab-content section .content .myInfoList .labelLine {
            width: 90%;
            margin: 0 auto;
            padding-bottom: 10px;
            border-bottom: 1px solid black; }
          .mypage-content .tab-content section .content .myInfoList .orderNum {
            width: 20%; }
          .mypage-content .tab-content section .content .myInfoList .orderName {
            width: 80%; }
        .mypage-content .tab-content section .content .noti {
          width: 100%;
          height: 100%;
          margin-bottom: 60px;
          line-height: 1.5;
          font-size: 35px; }
        .mypage-content .tab-content section .content .consultButton {
          float: right;
          margin-right: 20px; }
        .mypage-content .tab-content section .content .consultList {
          width: 100%;
          margin: 200px 0;
          line-height: 1.5;
          border-collapse: collapse; }
          .mypage-content .tab-content section .content .consultList td {
            padding: 5px 0; }
          .mypage-content .tab-content section .content .consultList .answerMark, .mypage-content .tab-content section .content .consultList .questionMark {
            width: 10%;
            font-size: 60px;
            font-weight: 900;
            vertical-align: top; }
          .mypage-content .tab-content section .content .consultList .questionMark {
            border-bottom: 1px solid #333; }
          .mypage-content .tab-content section .content .consultList .questionDetail, .mypage-content .tab-content section .content .consultList .answerDetail {
            color: gray; }
          .mypage-content .tab-content section .content .consultList .questionDetail {
            border-bottom: 1px solid #333; }
            .mypage-content .tab-content section .content .consultList .questionDetail .catagory {
              width: 25%; }
            .mypage-content .tab-content section .content .consultList .questionDetail .questionTime {
              width: 65%; }
          .mypage-content .tab-content section .content .consultList .blank {
            height: 50px; }

#tab-1:checked ~ .tab-content #tab-item-1 {
  display: block; }

#tab-2:checked ~ .tab-content #tab-item-2 {
  display: block; }

#tab-3:checked ~ .tab-content #tab-item-3 {
  display: block; }

#tab-1:checked ~ .tab-1-txt span {
  border-bottom: 10px solid #333; }

#tab-2:checked ~ .tab-2-txt span {
  border-bottom: 10px solid #333; }

#tab-3:checked ~ .tab-3-txt span {
  border-bottom: 10px solid #333; }
