@charset "UTF-8";

$gray: #dadada;
$black: #333;

body {
  font: "futura-pt", Arial, Helvetica, sans-serif;
  color: $black;

  ul {
    list-style-type: none;
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    color: $black;
    text-decoration: none;
  }

  .selected{
    color: $gray;
  }

  .wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;

    .left-header{
      width: 150px;
      height: 100%;
      float: left;
      position: fixed;
      border-right: 2px solid $gray;
      background-color: #fff;
      text-align: center;
      z-index: 10;

      .main-logo {
        height: 110px;

        img.logo-img{
          width: 110px;
          height: 110px;
        }
      }

      .left-menu {
        padding: 15px 0;

        li {
          padding: 10px 0;
        }
      }
    }

    .right-wrapper {
      width: 100%;
      height: 100%;
      padding-left: 150px;
      float: right;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;

      .right-header {
        height: 85px;
        padding: 20px 2%;
        border-bottom: 2px solid $gray;

        .right-menu {
          float: right;
          padding: 20px 1%;

          li {
            float: left;
            padding-left: 20px;
          }
        }
      }

      .content {
        width: 845px;
        margin: 5% auto;
        text-align: center;
        letter-spacing: 2px;

        .content-title {
          width: 120px;
          margin: 0 auto;
          padding: 10px;
          border: 3px double $gray;
          font-size: 15px;
          letter-spacing: 4px;
        }

        .prod-wrapper {
          width: 100%;
          margin: 5% auto;
          text-align: left;
          border-top: 1px solid #dadada;

          .prod-content {
            display: inline-block;
            margin: 5% 1%;
            color: #9f9b9b;
            text-align: center;

            a {
              display: inline;

              &:hover {
                opacity: 0.4;
              }

              .prod-img {
                width: 260px;
                height: 350px;
              }
            }

            .prod-name{
              margin-top: 5px;
            }

            .prod-price{
              margin-top: 5px;
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
