@charset "UTF-8";

  .prod-wrapper {
    width: 100%;
    margin: 5% auto;
    text-align: left;
    border-top: 1px solid #dadada;

    .prod-content {
      display: inline-block;
      margin: 5% 1%;
      color: #9f9b9b;
      text-align: center;

      a {
        display: inline;

        &:hover {
          opacity: 0.4;
        }

        .prod-img {
          width: 260px;
          height: 350px;
        }
      }

      .prod-name{
        margin-top: 5px;
      }

      .prod-price{
        margin-top: 5px;
        font-size: 13px;
      }
    }
  }
