@charset "UTF-8";

$borderLine: 1px solid #dadada;

@mixin buttonStyle {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0px;
  border: 2px solid #333;
  cursor: pointer;
}

@mixin buttonHover {
  color: #fff;
  background-color: #333;
}

.content {
  height: 80%;
  margin: 60px auto;

  .prd-detail {
    height: 350px;
    padding: 50px 0px;
    border-top: $borderLine;
    border-bottom: $borderLine;

    .prd-detail-img {
      float: left;
      width: 260px;
      height: 350px;
    }

      .prd-info{
        float: right;
        width: 540px;
        padding: 25px 0px;
        border-bottom: $borderLine;
        border-top: $borderLine;
      }

      .prd-pay-info {
        width: 550px;
        float: right;
        padding: 30px 0px;

        table {
          width: 250px;
          margin: 0 auto;
        }

        .priceCatagory {
          width: 50%;
        }

        .cart {
          padding-top: 70px;

          .cartButton {
            @include buttonStyle;

            &:hover {
              @include buttonHover;
            }
          }
        }

        .pay{
          padding-top: 70px;

          .payButton{
            @include buttonStyle;

            &:hover {
              @include buttonHover;
            }
          }
        }
      }
    }
    .detailPrdImg {
      width: 100%;
    }
  }
